/* Apply Poppins to the whole website */
body, html {
  font-family: 'Poppins', sans-serif;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #20c997;
}

.social-icon {
  width: 35px;
  height: 35px;
  background: #20c997;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease;
}

.social-icon:hover {
  background: #fff;
  color: #20c997;
}

/* ================= HERO ANIMATION ================= */

/* background slow zoom */
.carousel-item {
  animation: zoomEffect 10s ease-in-out infinite alternate;
}

@keyframes zoomEffect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}

/* fade + slide animation */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
}

.fade-up.delay-1 {
  animation-delay: 0.3s;
}
.fade-up.delay-2 {
  animation-delay: 0.6s;
}
.fade-up.delay-3 {
  animation-delay: 0.9s;
}
.fade-up.delay-4 {
  animation-delay: 1.2s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
